@model WebApplication3.Models.Moneda

<!-- Modal -->
@Scripts.Render("~/bundles/jqueryval")

<div class="modal" id="modalEditarMoneda" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar moneda</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                @using (Ajax.BeginForm("EditarMoneda", "Monedas", new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnBegin = "OnBegin",
                    OnSuccess = "onSuccess",
                    UpdateTargetId = "divResultado",
                    OnFailure = "FailMessage"
                }, new { id = "formulario" }
))
                {
                    @Html.HiddenFor(model => model.Moneda_PK)

                    <div class="row">
                        <div class="col">
                            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="col">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col">
                            @Html.LabelFor(model => model.Cambio, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="col">
                            @Html.EditorFor(model => model.Cambio, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Cambio, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />

                    <div class="row">
                        <div class="col">
                            @Html.LabelFor(model => model.FechaCreacion, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="col">
                            @Html.EditorFor(model => model.FechaCreacion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.FechaCreacion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />

                    <div class="row">
                        <div class="col">
                            @Html.LabelFor(model => model.Favorita, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="col">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Favorita)
                                @Html.ValidationMessageFor(model => model.Favorita, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />

                    <div class="row">
                        <div class="col">
                            @Html.LabelFor(model => model.Activa, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="col">
                            @Html.EditorFor(model => model.Activa)
                            @Html.ValidationMessageFor(model => model.Activa, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-7">
                        </div>
                        <div class="col-5">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                            <button type="submit" class="btn btn-primary" id="btnGuardarEditar" value="@Model.Moneda_PK">Guardar</button>
                        </div>
                    </div>

                }
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<script>

    //$('form').submit(function (e) {
    //    debugger;
    //    //Evitamos que se ejecute el post
    //    e.preventDefault();
    //    //Guardamos los datos del formulario en la variable form
    //    var form = $(this);
    //    $.ajax({
    //        type: "POST",
    //        url: "monedas/EditarMoneda",
    //        data: form.serialize(), // serializes the form's elements.
    //        success: function (data) {
    //            if (data.status == "OK") {
    //                $('#modalEditarMoneda').modal('hide');
    //                $('#divCorrecto').show();
    //                $("#divCorrecto").delay(1500).hide(500);
    //                $(".modal-backdrop").remove();
    //                //Recargamos la tabla
    //                rellenarTablaMonedas();
    //            }
    //            if (data.status == "KO") {
    //            }
    //        }
    //    });
    //});

    function onSuccess() {
        $('#divEditarMoneda').modal('hide');
        $('#divCorrecto').show();
        $("#divCorrecto").delay(1500).hide(500);
        rellenarTablaMonedas();
    }
    function FailMessage() {
    }
    function OnBegin() {
    }

</script>